.post-password-form {
	label {
		display: inline-block;
		vertical-align: bottom;
		@include media-breakpoint-down(xs) {
			display: flex;
		    flex-direction: column;
		    align-items: center;
	    }
	}

	input[type="submit"]{
		padding: 10px 29px;
		@include media-breakpoint-down(xs) {
			width: 100%;
    		margin-top: 15px;
		}
	}
	input[type="password"]{
		@include media-breakpoint-up(sm) {
			margin-left: 10px;
		}
		@include media-breakpoint-down(xs) {
			width: 100%;
			margin-top: 10px;
		}
	}
}