/**
 * Rating
 */
.star-rating {
	overflow: hidden;
	position: relative;
	display: block;
	margin: 0 auto 5px;
	width: 60px;
	height: 11px;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 11px;
		opacity: 0.15;
		background-color: #222;

		mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 12 11" xmlns="http://www.w3.org/2000/svg"><path d="M11.9702 4.21927C11.8964 3.99654 11.6951 3.83884 11.4579 3.81778L8.22266 3.5295L6.94406 0.591494C6.84966 0.375642 6.63486 0.236328 6.39578 0.236328C6.1567 0.236328 5.94181 0.375642 5.84801 0.591494L4.56941 3.5295L1.33361 3.81778C1.09641 3.83926 0.895549 3.99696 0.821328 4.21927C0.747535 4.44201 0.815685 4.68631 0.995081 4.84073L3.4407 6.94545L2.71961 10.0626C2.66685 10.2918 2.75749 10.5288 2.95125 10.6662C3.0554 10.7405 3.17776 10.7776 3.30055 10.7776C3.40607 10.7776 3.51167 10.7501 3.60599 10.6947L6.39578 9.05748L9.18505 10.6947C9.38968 10.8147 9.64697 10.8037 9.8403 10.6662C10.0341 10.5288 10.1247 10.2918 10.0719 10.0626L9.35086 6.94545L11.7965 4.84073C11.9758 4.68631 12.044 4.44251 11.9702 4.21927Z"/></svg>');
		-webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 12 11" xmlns="http://www.w3.org/2000/svg"><path d="M11.9702 4.21927C11.8964 3.99654 11.6951 3.83884 11.4579 3.81778L8.22266 3.5295L6.94406 0.591494C6.84966 0.375642 6.63486 0.236328 6.39578 0.236328C6.1567 0.236328 5.94181 0.375642 5.84801 0.591494L4.56941 3.5295L1.33361 3.81778C1.09641 3.83926 0.895549 3.99696 0.821328 4.21927C0.747535 4.44201 0.815685 4.68631 0.995081 4.84073L3.4407 6.94545L2.71961 10.0626C2.66685 10.2918 2.75749 10.5288 2.95125 10.6662C3.0554 10.7405 3.17776 10.7776 3.30055 10.7776C3.40607 10.7776 3.51167 10.7501 3.60599 10.6947L6.39578 9.05748L9.18505 10.6947C9.38968 10.8147 9.64697 10.8037 9.8403 10.6662C10.0341 10.5288 10.1247 10.2918 10.0719 10.0626L9.35086 6.94545L11.7965 4.84073C11.9758 4.68631 12.044 4.44251 11.9702 4.21927Z"/></svg>');

		transition: background-color 0.2s ease-out;
	}

	span {
		padding-top: 1.5em;
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 11px;
			background-color: #FFA922;

			.woocommerce & {
				background-color: #FFA922;
			}

			mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 12 11" xmlns="http://www.w3.org/2000/svg"><path d="M11.9702 4.21927C11.8964 3.99654 11.6951 3.83884 11.4579 3.81778L8.22266 3.5295L6.94406 0.591494C6.84966 0.375642 6.63486 0.236328 6.39578 0.236328C6.1567 0.236328 5.94181 0.375642 5.84801 0.591494L4.56941 3.5295L1.33361 3.81778C1.09641 3.83926 0.895549 3.99696 0.821328 4.21927C0.747535 4.44201 0.815685 4.68631 0.995081 4.84073L3.4407 6.94545L2.71961 10.0626C2.66685 10.2918 2.75749 10.5288 2.95125 10.6662C3.0554 10.7405 3.17776 10.7776 3.30055 10.7776C3.40607 10.7776 3.51167 10.7501 3.60599 10.6947L6.39578 9.05748L9.18505 10.6947C9.38968 10.8147 9.64697 10.8037 9.8403 10.6662C10.0341 10.5288 10.1247 10.2918 10.0719 10.0626L9.35086 6.94545L11.7965 4.84073C11.9758 4.68631 12.044 4.44251 11.9702 4.21927Z"/></svg>');
		-webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 12 11" xmlns="http://www.w3.org/2000/svg"><path d="M11.9702 4.21927C11.8964 3.99654 11.6951 3.83884 11.4579 3.81778L8.22266 3.5295L6.94406 0.591494C6.84966 0.375642 6.63486 0.236328 6.39578 0.236328C6.1567 0.236328 5.94181 0.375642 5.84801 0.591494L4.56941 3.5295L1.33361 3.81778C1.09641 3.83926 0.895549 3.99696 0.821328 4.21927C0.747535 4.44201 0.815685 4.68631 0.995081 4.84073L3.4407 6.94545L2.71961 10.0626C2.66685 10.2918 2.75749 10.5288 2.95125 10.6662C3.0554 10.7405 3.17776 10.7776 3.30055 10.7776C3.40607 10.7776 3.51167 10.7501 3.60599 10.6947L6.39578 9.05748L9.18505 10.6947C9.38968 10.8147 9.64697 10.8037 9.8403 10.6662C10.0341 10.5288 10.1247 10.2918 10.0719 10.0626L9.35086 6.94545L11.7965 4.84073C11.9758 4.68631 12.044 4.44251 11.9702 4.21927Z"/></svg>');

			transition: background-color 0.2s ease-out;
		}

		span {
			display: none;
		}
	}
}

// Single Product Reviews rating
.stars {
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	margin-top: 8px;
	margin-left: 15px;
	width: 100px;
	height: 18px;

	span {
		display: block;
		height: 18px;
	}

	a {
		position: relative;
		height: 18px;
		width: 18px;
		margin-right: -4px;
		text-indent: -999em;
		display: inline-block;
		text-decoration: none;
		opacity: 0.15;

		&:hover,
		&.active {
			opacity: 1;
		}
		
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 18px;
			height: 18px;
			background-color: #222;

					mask-image: url('data:image/svg+xml;utf8,<svg width="20" height="17" viewBox="0 0 20 17" xmlns="http://www.w3.org/2000/svg"><path d="M17.977 6.69589C17.9219 6.52909 17.7752 6.40754 17.5987 6.38235L12.6386 5.67398L10.4203 1.25678C10.3414 1.09954 10.1784 1 10 1C9.82159 1 9.65865 1.09954 9.57968 1.25678L7.36132 5.67398L2.40134 6.38235C2.22481 6.40754 2.07809 6.52909 2.02296 6.69586C1.96781 6.86266 2.01381 7.04573 2.14159 7.16812L5.73057 10.6064L4.88345 15.4615C4.85327 15.6343 4.92558 15.8089 5.06992 15.912C5.15158 15.9703 5.24829 16 5.34548 16C5.42011 16 5.49498 15.9825 5.56354 15.9471L9.99999 13.6548L14.4363 15.9471C14.5942 16.0287 14.7856 16.0151 14.9299 15.912C15.0743 15.8089 15.1466 15.6343 15.1164 15.4614L14.269 10.6064L17.8584 7.16809C17.9862 7.04573 18.0322 6.86266 17.977 6.69589Z"/></svg>');
			-webkit-mask-image: url('data:image/svg+xml;utf8,<svg width="20" height="17" viewBox="0 0 20 17" xmlns="http://www.w3.org/2000/svg"><path d="M17.977 6.69589C17.9219 6.52909 17.7752 6.40754 17.5987 6.38235L12.6386 5.67398L10.4203 1.25678C10.3414 1.09954 10.1784 1 10 1C9.82159 1 9.65865 1.09954 9.57968 1.25678L7.36132 5.67398L2.40134 6.38235C2.22481 6.40754 2.07809 6.52909 2.02296 6.69586C1.96781 6.86266 2.01381 7.04573 2.14159 7.16812L5.73057 10.6064L4.88345 15.4615C4.85327 15.6343 4.92558 15.8089 5.06992 15.912C5.15158 15.9703 5.24829 16 5.34548 16C5.42011 16 5.49498 15.9825 5.56354 15.9471L9.99999 13.6548L14.4363 15.9471C14.5942 16.0287 14.7856 16.0151 14.9299 15.912C15.0743 15.8089 15.1466 15.6343 15.1164 15.4614L14.269 10.6064L17.8584 7.16809C17.9862 7.04573 18.0322 6.86266 17.977 6.69589Z"/></svg>');

			transition: background-color 0.2s ease-out;

			text-indent: 0;
		}
	}
	
	&:hover{
		a{
			opacity: 1;

			&:before {
				background-color: #FFAB65;
			}
			
			&:hover ~ a {
				opacity: 0.15;

				&:before {
					background-color: #FFAB65;
				}
			}
		}
	}
	
	&.selected{
		a{
			&:not(.active) {
				opacity: 1;

				&:before {
					background-color: #FFAB65;
				}
			}
			
			&.active:before {
				background-color: #FFAB65;
			}

			&.active ~ a {
				opacity: 0.15;
			}
		}
	}
}

.woocommerce-review-link{
	position: relative;
	margin-top: -2px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 11px;
}