/**
 * Top rated products widget
 */
.elementor-widget-wp-widget-woocommerce_product_search,
.widget_product_search{
	form{
		position: relative;
		width: 100%;
    	display: inline-flex;
		button{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			display: inline-block;
			vertical-align: top;
			width: 60px;
			background: transparent;
			font-size: 0;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
    			-webkit-transform: translate(-50%,-50%);
				left: 50%;
				width: 16px;
				height: 16px;
			mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M15.7476 14.5216L12.2582 10.9991C13.3106 9.79282 13.8873 8.27508 13.8873 6.69505C13.8873 3.00346 10.7723 0 6.94363 0C3.11497 0 0 3.00346 0 6.69505C0 10.3866 3.11497 13.3901 6.94363 13.3901C8.38096 13.3901 9.75067 12.9721 10.9217 12.1786L14.4421 15.7322C14.6145 15.9048 14.8464 16 15.0948 16C15.33 16 15.5531 15.9135 15.7225 15.7564C16.0824 15.4225 16.0938 14.8688 15.7476 14.5216ZM6.94363 1.74653C9.77361 1.74653 12.0759 3.96638 12.0759 6.69505C12.0759 9.42372 9.77361 11.6436 6.94363 11.6436C4.11365 11.6436 1.81138 9.42372 1.81138 6.69505C1.81138 3.96638 4.11365 1.74653 6.94363 1.74653Z"/></svg>');
				-webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M15.7476 14.5216L12.2582 10.9991C13.3106 9.79282 13.8873 8.27508 13.8873 6.69505C13.8873 3.00346 10.7723 0 6.94363 0C3.11497 0 0 3.00346 0 6.69505C0 10.3866 3.11497 13.3901 6.94363 13.3901C8.38096 13.3901 9.75067 12.9721 10.9217 12.1786L14.4421 15.7322C14.6145 15.9048 14.8464 16 15.0948 16C15.33 16 15.5531 15.9135 15.7225 15.7564C16.0824 15.4225 16.0938 14.8688 15.7476 14.5216ZM6.94363 1.74653C9.77361 1.74653 12.0759 3.96638 12.0759 6.69505C12.0759 9.42372 9.77361 11.6436 6.94363 11.6436C4.11365 11.6436 1.81138 9.42372 1.81138 6.69505C1.81138 3.96638 4.11365 1.74653 6.94363 1.74653Z"/></svg>');
			}
		}
		input{
			width: 100%;
			padding-right: 50px;
		}
	}	
}


.elementor-widget-wp-widget-woocommerce_product_search,
.wc-block-product-search {
	.wc-block-product-search__fields{
	position: relative;
		.wc-block-product-search__field{
			width: 100%;
			padding: 10px 50px 10px 13px;
		}
		.wc-block-product-search__button{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			display: inline-block;
			vertical-align: top;
			width: 60px;
			background: transparent;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
    			-webkit-transform: translate(-50%,-50%);
				left: 50%;
				width: 16px;
				height: 16px;
			mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M15.7476 14.5216L12.2582 10.9991C13.3106 9.79282 13.8873 8.27508 13.8873 6.69505C13.8873 3.00346 10.7723 0 6.94363 0C3.11497 0 0 3.00346 0 6.69505C0 10.3866 3.11497 13.3901 6.94363 13.3901C8.38096 13.3901 9.75067 12.9721 10.9217 12.1786L14.4421 15.7322C14.6145 15.9048 14.8464 16 15.0948 16C15.33 16 15.5531 15.9135 15.7225 15.7564C16.0824 15.4225 16.0938 14.8688 15.7476 14.5216ZM6.94363 1.74653C9.77361 1.74653 12.0759 3.96638 12.0759 6.69505C12.0759 9.42372 9.77361 11.6436 6.94363 11.6436C4.11365 11.6436 1.81138 9.42372 1.81138 6.69505C1.81138 3.96638 4.11365 1.74653 6.94363 1.74653Z"/></svg>');
				-webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M15.7476 14.5216L12.2582 10.9991C13.3106 9.79282 13.8873 8.27508 13.8873 6.69505C13.8873 3.00346 10.7723 0 6.94363 0C3.11497 0 0 3.00346 0 6.69505C0 10.3866 3.11497 13.3901 6.94363 13.3901C8.38096 13.3901 9.75067 12.9721 10.9217 12.1786L14.4421 15.7322C14.6145 15.9048 14.8464 16 15.0948 16C15.33 16 15.5531 15.9135 15.7225 15.7564C16.0824 15.4225 16.0938 14.8688 15.7476 14.5216ZM6.94363 1.74653C9.77361 1.74653 12.0759 3.96638 12.0759 6.69505C12.0759 9.42372 9.77361 11.6436 6.94363 11.6436C4.11365 11.6436 1.81138 9.42372 1.81138 6.69505C1.81138 3.96638 4.11365 1.74653 6.94363 1.74653Z"/></svg>');
			}
			svg{
				display: none;
			}
		}
	}
}