/**
 * WooCommerce Widgets
 */

@import "price-filter";
@import "rating-filter";
@import "attributes-filter";
@import "top-rated-products";
@import "recent-reviews";
@import "product-categories";
@import "products";
@import "recently-viewed-products";
@import "product-search";
@import "tag-cloud";
@import "cart";

%product-list-widget {
	list-style: none;	
	li {
		overflow: hidden;
		position: relative;
		min-height: 75px;
		padding-left: 85px;

		& + li {
			margin-top: 20px;
		}
		
		a {
			display: block;
		}
		
		img {
			position: absolute;
			left: 0;
			top: 0;
			max-width: 60px;
			border-radius: 8px;
		}

		dl.variation {
			display: flex;

			.variation-size {
				margin: 0;
				font-size: 14px;
			}

			dd.variation-size {
				margin-left: 10px;
			}
		}

		.star-rating {
			margin: 1px 0 2px;
			width: 50px;
			height: 10px;

			&:before {
				height: 10px;
				mask-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path d="M9.98609 3.85276C9.95313 3.74669 9.86544 3.66938 9.75986 3.65337L6.79402 3.20288L5.46762 0.393769C5.42042 0.293769 5.32298 0.230469 5.2163 0.230469C5.10961 0.230469 5.01218 0.293769 4.96496 0.393769L3.6385 3.20288L0.672717 3.65337C0.567161 3.66938 0.479432 3.74669 0.446471 3.85274C0.413491 3.95881 0.440996 4.07524 0.517401 4.15307L2.66341 6.33966L2.15688 9.42721C2.13883 9.53713 2.18207 9.64819 2.26838 9.71375C2.3172 9.75082 2.37504 9.76969 2.43315 9.76969C2.47777 9.76969 2.52254 9.75858 2.56354 9.73604L5.21628 8.27827L7.86892 9.73602C7.96337 9.78791 8.07778 9.77928 8.16409 9.71373C8.2504 9.64819 8.29366 9.53709 8.27563 9.42717L7.76893 6.33966L9.91518 4.15305C9.99157 4.07524 10.0191 3.95881 9.98609 3.85276Z"/></svg>');

				-webkit-mask-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path d="M9.98609 3.85276C9.95313 3.74669 9.86544 3.66938 9.75986 3.65337L6.79402 3.20288L5.46762 0.393769C5.42042 0.293769 5.32298 0.230469 5.2163 0.230469C5.10961 0.230469 5.01218 0.293769 4.96496 0.393769L3.6385 3.20288L0.672717 3.65337C0.567161 3.66938 0.479432 3.74669 0.446471 3.85274C0.413491 3.95881 0.440996 4.07524 0.517401 4.15307L2.66341 6.33966L2.15688 9.42721C2.13883 9.53713 2.18207 9.64819 2.26838 9.71375C2.3172 9.75082 2.37504 9.76969 2.43315 9.76969C2.47777 9.76969 2.52254 9.75858 2.56354 9.73604L5.21628 8.27827L7.86892 9.73602C7.96337 9.78791 8.07778 9.77928 8.16409 9.71373C8.2504 9.64819 8.29366 9.53709 8.27563 9.42717L7.76893 6.33966L9.91518 4.15305C9.99157 4.07524 10.0191 3.95881 9.98609 3.85276Z"/></svg>');
			}

			span {
				height: 10px;
				&:before {
				mask-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path d="M9.55323 3.85276C9.52027 3.74669 9.43258 3.66938 9.327 3.65337L6.36116 3.20288L5.03476 0.393769C4.98756 0.293769 4.89012 0.230469 4.78344 0.230469C4.67674 0.230469 4.57932 0.293769 4.5321 0.393769L3.20564 3.20288L0.239855 3.65337C0.1343 3.66938 0.0465709 3.74669 0.0136094 3.85274C-0.0193708 3.95881 0.00813452 4.07524 0.0845401 4.15307L2.23055 6.33966L1.72402 9.42721C1.70597 9.53713 1.74921 9.64819 1.83552 9.71375C1.88434 9.75082 1.94217 9.76969 2.00029 9.76969C2.04491 9.76969 2.08968 9.75858 2.13067 9.73604L4.78342 8.27827L7.43605 9.73602C7.53051 9.78791 7.64492 9.77928 7.73123 9.71373C7.81754 9.64819 7.8608 9.53709 7.84277 9.42717L7.33607 6.33966L9.48232 4.15305C9.55871 4.07524 9.58623 3.95881 9.55323 3.85276Z"/></svg>');

				-webkit-mask-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path d="M9.55323 3.85276C9.52027 3.74669 9.43258 3.66938 9.327 3.65337L6.36116 3.20288L5.03476 0.393769C4.98756 0.293769 4.89012 0.230469 4.78344 0.230469C4.67674 0.230469 4.57932 0.293769 4.5321 0.393769L3.20564 3.20288L0.239855 3.65337C0.1343 3.66938 0.0465709 3.74669 0.0136094 3.85274C-0.0193708 3.95881 0.00813452 4.07524 0.0845401 4.15307L2.23055 6.33966L1.72402 9.42721C1.70597 9.53713 1.74921 9.64819 1.83552 9.71375C1.88434 9.75082 1.94217 9.76969 2.00029 9.76969C2.04491 9.76969 2.08968 9.75858 2.13067 9.73604L4.78342 8.27827L7.43605 9.73602C7.53051 9.78791 7.64492 9.77928 7.73123 9.71373C7.81754 9.64819 7.8608 9.53709 7.84277 9.42717L7.33607 6.33966L9.48232 4.15305C9.55871 4.07524 9.58623 3.95881 9.55323 3.85276Z"/></svg>');
				background-color: #FFC42D;
				}
			}
		}

		.quantity {
			display: inline-block;
			vertical-align: top;
			line-height: 26px;
			font-size: 18px;
		}
		
		ins {
			font-style: normal;
			border: 0;
		}

		del {
			margin-right: 5px;

			.amount {
				font-size: 14px;
    			font-weight: 400;
			}
		}
	}
}


